.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#item{
  margin-right: 30px;
  margin-bottom: 30px;
  width: 230px;
  min-height: 273px;
  border-radius: 10px;
  background-color: #FFFFFF;
}

#list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#search{
  margin-top: 15px;
  height: 23px;
  border-radius: 4px;
  border: 2px;
  box-shadow: 0px 4px 4px rgba(47, 37, 68, 0.15);
  background: #FFFFFF;
  margin-left: 10px;
}

#section{
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Background.png');
    background-color:rgba(228, 226, 226, 0.993) ;

  }

#img{
  width: 100%;
  height: 50%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#login{
  font: normal 18px Roboto;
  font-weight: 400;
  color: #2F2544;
  margin-left: 15px;
  text-align: left;
  display: flex;
}

#url{
  font-size: 12px;
  text-align:left;
  color:#03CADA;
  width: 100%;
  display: flex;
  margin-left: 15px;
}

#score{
  text-align:left;
  display: flex;
  margin-left: 15px;
  color: #8C56C2;
}

#vermais{
  background-color: #8C56C2;
  border-radius: 20px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: center;
  color: #FFFFFF;
  align-items: center;
  line-height: 36px;
  width: 200px;
}

#logo{
  margin-top: 30px;
}

#logo-center {
  height: calc(100% - 56px);
}

#modal{
  width: 100%;
  height: 100vh;
  top: 0;
  overflow: hidden;
  position: fixed;
  left: 0;
  z-index:10;
  background-color:rgb(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#container{
  width: 60%;
  padding: 40px;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: row;
  
}

#fechar{
  color: #8C56C2;
  display: flex;
  align-self: flex-end;
}

#divfechar{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  
}

#imgModal{
  height: 250px;
  width: 250px;
  display: flex;
  border-radius: 10px;
}

#content{
  width: 100%;
  padding: 20px;
}

#modalNome{
  display: flex;
  margin: 10px 0px;
  border-bottom: 1px solid #E1DFE0;
  padding-bottom: 10px;
}

#labelModal{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

#loginFollowers{
  justify-content: space-between;
  display: flex;
}

#labelModal>p{
  margin: 0px;
}

.end{
  align-self: flex-end;
}